<!doctype html>

<html lang="en">
<head  th:include="fragments/general.html :: head">
	<title>Mum Schedule</title>
	<script type="text/javascript" src="js/src/entryRest.js" ></script>	
</head>


<body>
	<div th:replace="fragments/general.html :: header"></div>

	<section class="col-6 my-2 mx-auto main-container">
		<article class="card mt-4">
			<h4 class="card-header text-center text-secondary py-3">Entry List</h4>
			<div class="card-body">
				<table class="mt-4 table table-borderless table-striped table-hover">
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Entry Name</th>
							<th scope="col">Entry date</th>
							<th scope="col">Faculty Name</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="entry: ${entries}">
							<th scope="row" th:text="${entry.id}" />
							<td th:text="${entry.name}" />
							<td th:text="${entry.entryDate}" />
							<td th:text="${entry.faculty.name}" />
							<td><a th:href="@{'/entries/' + ${entry.id}}">
							<button style=" background-color: #4CAF50;color: white;
							"id="submit-btn"
							class="d-block btn btn-outline-secondary ms-auto">
							Update</button></a></td>
							<td><button style=" background-color: #FF0000;color: white;
							"id="submit-btn" th:onclick="deleteEntry([[${entry.id}]],[[${entry.name}]])"
							class="d-block btn btn-outline-secondary ms-auto">
							Delete</button></td>
						</tr>
						</c:forEach>
					</tbody>
				</table>
			</div>
		</article>

		<article class="card mt-4">
			<h4 class="card-header text-center text-secondary py-3">Create a
				New entry</h4>
			<div class="card-body">
				<form method="post" action="http://localhost:8080/api/entries">
					<div class="input-group mb-3">
						<input type="text" class="form-control text-primary"
							placeholder="Entry Name" aria-label="Entry Name" name="name"
							aria-describedby="Entry Name" required>
					</div>
					
					
					   
					
					<div class="input-group mb-3">
						<input type="date" class="form-control text-primary"
							placeholder="entry Date" aria-label="entrydate" name="entrydate"
							aria-describedby="entry Date" required>
					</div>

					<label for="faculty">Choose a faculty:</label>
					<select name="faculty" id="faculty">
							<option th:each="faculty: ${faculties}" th:value="${faculty.id}" th:text="${faculty.name}"></option>
					</select>
					
					<div class="input-group mb-3">
						<input type="text" class="form-control text-primary"
							placeholder="mpp" aria-label="mpp" name="mpp"
							aria-describedby="mpp" required>
					</div>
				
					<div class="input-group mb-3">
						<input type="text" class="form-control text-primary"
							placeholder="fpp" aria-label="fpp" name="fpp"
							aria-describedby="fpp" required>
					</div>
				
					
					<div class="input-group mb-3">
						<input type="text" class="form-control text-primary"
							placeholder="mppOPT" aria-label="mppopt" name="mppopt"
							aria-describedby="mppOPT" required>
					</div>

					<div class="input-group mb-3">
						<input type="text" class="form-control text-primary"
							placeholder="mppCPT" aria-label="mppcpt" name="mppcpt"
							aria-describedby="mppCPT" required>
					</div>
					
					<div class="input-group mb-3">
						<input type="text" class="form-control text-primary"
							placeholder="fppCPT" aria-label="fppcpt" name="fppcpt"
							aria-describedby="fppCPT" required>
					</div>

					<div class="input-group mb-3">
						<input type="text" class="form-control text-primary"
							placeholder="fppOPT" aria-label="fppopt" name="fppopt"
							aria-describedby="fppOPT" required>
					</div>
				
				
					<div>
						<button type="submit" id="submit-btn"
							class="d-block btn btn-outline-secondary ms-auto">
							Create</button>
					</div>
				</form>
			</div>
		</article>
	</section>

	<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>